<h1>Questions</h1>
<div class="form-container">
    <form method="post">
        <div class="row">
            <div class="col-sm-2" style="text-align: end; margin-top: 7px;">
                <label>New question:</label>
            </div>
            <div class="col-sm-5">
                <input type="text" id="question" class="form-control" ng-model="vm.newQuestion.question" required />
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" ng-click="vm.saveQuestion()">Save</button>
            </div>
        </div>
    </form>
    <hr/>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of vm.questions">
                            <td>{{item.question}}</td>
                            <td><button type="button" class="btn btn-danger" ng-click="vm.deleteQuestion({{item._id}})">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
